@font-face {
  font-family: nordic;
  src: url(assets/Norse-Bold.otf);
}
.container{
    display:flex;
}
.side{
    position: relative;
}
.background{
    height: 100vh;
}
.banner{
    display: flex;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 10rem;
    padding: 20px 0px;
    background-color: rgba(0, 0, 0, 0.45);
    justify-content: center;
    align-items: center;
}
.logo{
    height: 150px;
    padding: 0px 5px;
}
.odin-text{
    color: white;
    font-family: nordic, sans-serif;
    font-size: 7.2rem;
}